.display-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 60px auto 0;
}

.hours-container, .days-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 39vw;
  max-width: 24%;
}

.number-wrapper, .useby-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.number-wrapper {
  flex-wrap: wrap;
  margin-bottom: 2vw;
}

.number-wrapper .hours-container {
  background: #CB3036;
  color: #FFFFFF;
  padding: 15px 30px 30px;
}

.hours-container {
  margin: 0 1vw 0 auto;
}

.days-container {
  background: #FFFFFF;
  color: #CCCCCC;
  border: 1vw solid #CCCCCC;
  margin: 0 auto 0 1vw;
  padding: 15px 30px 30px;
}

.useby-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #FFFFFF;
  color: #CB3036;
  border: 1vw solid #CB3036;
  margin: 0 auto 60px;
  padding: 30px 30px 30px;
  width: 80vw;
  max-width: 50%;
}

.hours-container h1, .days-container h1 {
  font-size: 8vw;
  text-align: center;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

.days-container h1 {
  font-weight: 200;
}

.useby-wrapper h2 {
  font-size: 6vw;
  text-align: center;
  font-weight: 800;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.hours-container h4, .days-container h4, .useby-wrapper h4 {
  font-size: 2vw;
  text-align: center;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.useby-wrapper .underline {
  border-bottom: 3px solid #CB3036;
}

@media (max-width: 1023px) {
  .hours-container, .days-container {
    width: 44vw;
    max-width: 44%;
  }
  .useby-wrapper {
    width: 90vw;
    max-width: 90%;
  }
  .hours-container h4, .days-container h4, .useby-wrapper h4 {
    font-size: 3vw;
  }
  .useby-wrapper h2 {
    font-size: 8vw;
  }
}

@media (max-width: 609px) {
  .hours-container, .days-container {
    width: 80vw;
    max-width: 80%;
    margin: 0 auto;
  }
  .hours-container {
    margin-bottom: 2vw;
  }
  .useby-wrapper {
    width: 80vw;
    max-width: 80%;
  }
  .hours-container h1, .days-container h1 {
    font-size: 20vw;
  }
  .useby-wrapper h2 {
    font-size: 18vw;
  }
  .hours-container h4, .days-container h4, .useby-wrapper h4 {
    font-size: 5vw;
  }
  .useby-wrapper h2 {
    font-size: 12vw;
  }
}